.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    padding: 0;
    margin: 0;
    font-size: 32px;
    overflow-x: hidden;
    font-family: 'Inter',sans-serif;
}
h1{
    font-size: 0.7em;
    color: hsl(240, 38%, 20%);
}
p{
    font-weight: 300;
    color: hsl(240, 38%, 20%);
}
.name{
    display: flex;
    align-items: center;
    justify-content: left;
}
.name p{
    padding-left: 10px;
    font-size: 0.6em;
    color: hsl(240, 18%, 77%);
}
section{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-size: 50% contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-image: url('images/pattern-curve.svg');  
}
.text,.text-1{
    z-index: 2;
    width: 55%;
    left: 6%;
    position: relative;
    background-size: 20%, contain;
    background-repeat: no-repeat;
    background-position: top left 5rem;
    background-image: url('images/pattern-quotes.svg');
}
.icons{
    z-index: 3;
    width: 5%;
    padding: 10px;
    position: absolute;
    border-radius: 50px;
    text-align: center;
    letter-spacing: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 4px 10px 10px hsl(240, 18%, 77%);
}
.icons{
    top: 85%;
    left: 60%;
}
.icons img:hover,.icons-1 img:hover{
    cursor: pointer;
}
.img-div{
    z-index: 1;
    position: relative;
}
.img-div img{
    border-radius: 5px;
}
.img-div::before { 
    content: "";
    position: absolute;
    top: -40%;
    left: -50px;
    right: 0;
    bottom: 0;
    width: 120%;
    height: 150vh;
    background-image: url('images/pattern-bg.svg');
    background-size: 100% cover;
    background-position: center ;
    background-repeat: no-repeat;
    z-index: -1;
}
@media screen and (max-width: 1000px) {
    body{
        font-size: 24px;
    }
    .img-div img{
        height: 55vh;
    }
    section{
        height: auto;
        width: 80%;
        padding: 50px;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .text,.text-1{
        width: 100%;
        margin-top: 10%;
        left: 0;
        text-align: center;
    }
    .name{
        flex-direction: column;
        justify-content: center;
    }
    .icons{
        top: 60%;
        left: 40%;
        width: 15%;
        padding: 15px;
    }
    #icon-prev{
        margin-right: 25px;
    }
    .img-div::before{
        left: 10%;
        top: -50%;
        height: 100vh;
        background-size: 100%;
    }
    .name p{
        font-size: 0.8em;
    }
}
